{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <!-- <meta name="author" content="Kanu Chibuzo" /> -->
    <meta
      name="description"
      content="an open source web app for managing events and occasions ticketing, and also for booking painting and associated events"
    />
    <meta charset="UTF-8" />
    <meta name="language" content="english" />
    <meta name="copyright" content="Copyright 2023" />

    <title>Piccaso</title>
    <meta name="description" content="A brief description" />
    <meta
      name="author"
      content="Based in Nigeria, Piccaso is a commnity of young entrepreneurs and profesionals with an underlying interest in the creative arts"
    />
    <meta property="og:title" content="Home" />
    <meta
      property="og:description"
      content="Based in Nigeria, Piccaso is a commnity of young entrepreneurs and profesionals with an underlying interest in the creative arts"
    />
    <meta property="og:image" content="One Place Fishing" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.piccaso.co.ng" />
    <meta property="og:locale" content="en_NG" />
    <meta property="og:site_name" content="Piccaso" />

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <!--Header content-->
    {% include 'partials/_header.html' %}

    <main>{% block content %} {% endblock %}</main>

    <!--Footer content-->
    {% include 'partials/_footer.html' %}
    <!-- Replace this comment with your code  -->
  </body>
</html>
