{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <h3>Piccaso \n Paint 'n' Sip Summer Dip</h3>
  <h5>Date:</h5>
  <h5>Time:</h5>
  <h5>Venue:</h5>
  <p>Fill out the form below to book your private session</p>
  <form action="{% url 'book-public-event' %}" method="post">
    {{ form.non_field_errors }} {% csrf_token %} {% for field in form %}
    <div>{{ field.errors }} {{ field.label_tag }} {{ field }}</div>
    {% endfor %}
    <input type="submit" value="Proceed to checkout" />
  </form>
</section>
{% endblock %}
